<hr/>
<footer>
  <p class="pull-right"><a href="#">Back to top</a></p>

  <p>
    <span>&copy;<%= Setting.get_site_info 'copyright' %>&nbsp;</span>
    <a href="https://github.com/itpkg">Build Using IT-PACKAGE</a> &nbsp; &nbsp;
    <%= link_to image_tag('famfamfam-flags/img/cn.png'), {controller: controller.controller_name, action: controller.action_name, locale: 'zh-CN'}, target: '_blank' %>
    <%= link_to image_tag('famfamfam-flags/img/us.png'), {controller: controller.controller_name, action: controller.action_name, locale: 'en'}, target: '_blank' %>
  </p>
</footer>
