<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="TeamworkNavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-ul">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Brand</a>-->
    </div>
    <div class="collapse navbar-collapse" id="main-ul">
      <ul class="nav navbar-nav navbar-nav--narrow navbar-right">
        <li class="navbar-form" role="search">
          <form class="form-group ng-pristine ng-valid" action="#" accept-charset="UTF-8" method="post">
            <div class="input-group">
              <input type="text" name="search_project" id="search_project" value="" class="form-control" placeholder="Search project">
              <span class="input-group-btn">
                <a href="#" class="btn btn-default">
                  <span class="glyphicon glyphicon-search"></span>
                </a>
              </span>
            </div>
          </form>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="#/">Teamwork</a></li>
        <li>
          <% if user_signed_in? %>
            <a href="" ng-click="auth.logout()"><%= t('devise.shared.links.sign_out') %></a>
          <% else %>
            <%= link_to t('devise.shared.links.sign_in'), main_app.new_user_session_url %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
