<div class="col-xs-12 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-9"><a href="#">{{project.name}}</a></div>
        <div class="col-sm-3 text-right">
          <a href="#" class="decoration-less-link js-tooltip-el"
             data-toggle="tooltip" data-placement="bottom" title="stories">
            <span class="glyphicon glyphicon-folder-close"></span>
          </a>
          <a href="#" class="decoration-less-link js-tooltip-el"
             data-toggle="tooltip" data-placement="bottom" title="users">
            <span class="glyphicon glyphicon-user"></span>
          </a>
          <a href="#" class="decoration-less-link js-tooltip-el"
             data-toggle="tooltip" data-placement="bottom" title="settings">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      {{project.description}}
    </div>
  </div>
</div>
