<div class="panel panel-success">
  <div class="panel-heading">
    <strong class="panel-title">Story Comments</strong>
    <span class="pull-right">
      <a href="" data-toggle="modal" data-target="#comment_form">add a comment <span
              class="glyphicon glyphicon-plus-sign"></span></a>
    </span>
  </div>
  <div class="panel-body">
    <div ng-show="story.comments.length === 0">
      <div class="alert alert-info" role="alert">
        There are no comments left for this story so far.
      </div>
    </div>
    <div ng-hide="story.comments.length === 0">
      <div ng-repeat="comment in story.comments">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10">
              <div><i>{{comment.content}}</i></div>
              <div><span class="pull-right">{{comment.created_at | date_time}}</span></div>
            </div>
            <div class="col-sm-2 text-right">
              <div class="btn-group btn-group-xs" role="group">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#comment_edit_form"
                        ng-click="init_comment_for_edit(comment)">
                  Edit
                </button>
                <button type="button" class="btn btn-danger" ng-click="delete_comment({comment: comment})">
                  Delete
                </button>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="comment_form" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add a Comment</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="alert alert-danger" role="alert" ng-show="flags.comment_error">
              <p ng-show="flags.invalid_story_progress">Story Progress is invalid, please input a number between 0 and 100.</p>
              <p ng-show="flags.blank_comment">Comment content cannot be blank!</p>
            </div>
            <form class="form-horizontal">
              <div class="form-group">
                <label for="story_progress" class="col-sm-3 col-xs-12 control-label required">Story Progress</label>

                <div class="col-sm-3 col-xs-4">
                  <div class="input-group">
                    <input type="number" min="0" max="100" step="10" id="story_progress" class="form-control" ng-model="new_comment.new_progress">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
                <div class="clearfix visible-xs-block"></div>
              </div>
              <div class="form-group">
                <label for="comment" class="col-sm-3 control-label required">Comment</label>

                <div class="col-sm-9">
                  <textarea type="text" id="comment" class="form-control" rows="5" ng-model="new_comment.content">
                  </textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="add_comment()">Add</button>
      </div>
    </div>
  </div>
</div>

<div id="comment_edit_form" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Comment</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form name="form" class="form-horizontal">
              <div class="alert alert-danger" role="alert" ng-show="form.$invalid">
                <p ng-show="form.story_new_progress.$invalid">Story Progress is invalid, please input a number between 0 and 100.</p>
                <p ng-show="form.comment_content.$invalid">Comment content cannot be blank!</p>
              </div>

              <div class="form-group" ng-class="{ 'has-error': form.story_new_progress.$invalid }">
                <label for="story_progress" class="col-sm-3 col-xs-12 control-label required">Story Progress</label>

                <div class="col-sm-3 col-xs-4">
                  <div class="input-group">
                    <input type="number" min="0" max="100" step="10" name="story_new_progress" id="story_new_progress"
                           class="form-control" ng-model="comment_for_edit.progress" required>
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
                <div class="clearfix visible-xs-block"></div>
              </div>
              <div class="form-group" ng-class="{ 'has-error': form.comment_content.$invalid }">
                <label for="comment_content" class="col-sm-3 control-label required">Comment</label>

                <div class="col-sm-9">
                  <textarea type="text" name="comment_content" id="comment_content" class="form-control" rows="5"
                            ng-model="comment_for_edit.content" required>
                  </textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="update_comment({comment: comment_for_edit})"
                ng-disabled="form.$invalid">
          Update
        </button>
      </div>
    </div>
  </div>
</div>
