<div class="container-fluid">
  <div class="row">
    <h4>Projects</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th><a href="#/projects/new"><span class="glyphicon glyphicon-plus"></span> Create Project</a></th>
          <th>Members</th>
          <th>Stories</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in projects">
          <td><a href="#/projects/{{project.id}}">{{project.name}}</a></td>
          <td><a href="#/projects/{{project.id}}?hide_info=true&hide_stories=true">
            <span class="glyphicon glyphicon-user"></span> {{project.members}}</a>
          </td>
          <td><a href="#/projects/{{project.id}}?hide_info=true&hide_members=true">
            <span class="glyphicon glyphicon-folder-close"></span> {{project.stories}}</a>
          </td>
          <td><a href="#/projects/{{project.id}}?hide_stories=true&hide_members=true">Edit</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
