<div class="col-xs-12 col-sm-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-8"><a href="#/projects/{{project.id}}">{{project.name}}</a></div>
        <div class="col-xs-4 text-right">
          <a href="#/projects/{{project.id}}?hide_info=true&hide_members=true" class="decoration-less-link js-tooltip-el"
             data-toggle="tooltip" data-placement="bottom" title="stories">
            <span class="glyphicon glyphicon-folder-close"></span>
          </a>
          <a href="#/projects/{{project.id}}?hide_info=true&hide_stories=true" class="decoration-less-link js-tooltip-el"
             data-toggle="tooltip" data-placement="bottom" title="users">
            <span class="glyphicon glyphicon-user"></span>
          </a>
          <a href="#/projects/{{project.id}}?hide_stories=true&hide_members=true" class="decoration-less-link js-tooltip-el"
             data-toggle="tooltip" data-placement="bottom" title="edit">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      {{project.description}}
    </div>
  </div>
</div>
