<div class="panel panel-info">
  <div class="panel-heading">
    <strong class="panel-title">Project Details</strong>
    <span class="pull-right">
      <a href="" data-toggle="modal" data-target="#project_form">edit <span
              class="glyphicon glyphicon-pencil"></span></a>
    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2 text-right hidden-xs"><strong>Name:</strong></div>
      <div class="col-xs-12 visible-xs"><strong>Name:</strong></div>
      <div class="col-sm-10">{{project.name}}</div>
    </div>
    <div class="row">
      <div class="col-sm-2 text-right hidden-xs"><strong>Description:</strong></div>
      <div class="col-xs-12 visible-xs"><strong>Description:</strong></div>
      <div class="col-sm-10">{{project.description}}</div>
    </div>
  </div>
</div>

<div id="project_form" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Project</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <form class="form-horizontal">
              <project-form-fields project="project_copy"></project-form-fields>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="update_project()">Save</button>
      </div>
    </div>
  </div>
</div>
