<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8 col-sm-4 col-md-4">
      <span class="project-index-title">Projects</span>
      <a href="#/projects-all" class="project-index-show-all"><strong>Show all</strong></a>
    </div>
    <div class="col-xs-4 col-sm-8 col-md-8 text-right">
      <a class="btn btn-sm btn-primary" href="#">Create Project</a>
    </div>
  </div>
</div>
