/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require "select2-ng/select2"
 *= require "select2-ng/select2-bootstrap"
 *= require_tree .
 *= require_self
 */
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap3-datetimepicker/build/css/bootstrap-datetimepicker";

$colors: #FC797A, #2ABB9B, #6EB6E5, #FF9672, #68E9AB, #1F8DD6, #FBB44C;

label.required:after {
  content: " *";
  color: red;
}

.error-msg {
  color: red;
  padding-top: 5px;
}

.invalidField {
  border-color: red;
}

.project-index-title {
  font-size: 1.4em;
  font-weight: bolder;
}

.project-index-show-all {
  font-size: 0.85em;
  padding: 5px;
}

.container--fixed-navbar {
  margin-top: 70px;
}

.navbar-nav--narrow {
  margin: 0;
}

.decoration-less-link {
  &:hover {
    text-decoration: none;
  }
}

.breadcrumb--tight {
  margin-bottom: -10px;
  background-color: #fff;
}

.btn-project-delete {
  margin-top: 20px;
}

.datetime-field {
  padding: 0 15px !important;
}

.story-row {
  cursor: pointer;
}

.story-title {
  display: inline-block;
}

.story-row-action {
  width: 21%;
}

.table-tight {
  margin-bottom: 0;
}

.story-tag {
  padding: 0 5px;
  border: 1px solid grey;
  border-radius: 3px;
  margin-right: 5px;
}

@for $i from 1 through 7 {
  .story-tag:nth-child(#{7}n+#{$i}) {
    background-color: nth($colors, $i);
  }

  .select2-search-choice:nth-child(#{7}n-#{$i}) {
    background: nth($colors, $i) none !important;;
  }
}

.member-collection {
  margin: 5px;
}

.member-collection__row {
  line-height: 40px;

  &:hover {
    .member-collection__row__remove {
      display: inline;
    }
  }
}

.member-collection__row__remove {
  position: absolute;
  top: -6px;
  left: 6px;
  color: red;
  font-size: large;
  display: none;
}

.member-name-label {
  font-size: large;
}

.progress--marginless {
  margin: 0;
}
